/************************************************* Slideshow **********************************************************/
* {-webkit-box-sizing: border-box;box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
/************************************************* FIN Slideshow **********************************************************/






/************************************************* START CSS Header & Nav **********************************************************/
body, html{
    margin:0;
    padding:0;
    min-width: 320px;
}
body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}
body > header {
    background-color: #232f3e;
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
body > header > div.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
}
body > header > div.center {
    display: flex;
    flex-direction: row;
    align-self: auto;
    align-items: center;
    justify-content: center;
}
.btn-login {
    color: #fff;
    background-color: #f8991d;
    border-color: #f8991d;
}
.top {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    /*margin-right: 30px;*/
    color: #fff;
}
.top img{
    height: 25px;
}
.bottom {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    font-weight: bold;
    color: #262B00;
}
body > header > div.left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding-left: 50px;
}
header div img {
    height: 60px;
}
/* The navigation bar */
nav ul {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {

}
/* Introduccion div */
.introduccion {
    height: 10%;
    background-image: url(../images/1500x300_certification-banner.bda82d903763a56a4a20a58ff6f2a880562ed982.png);
    color: #fff;
    text-align: center;
    padding: 25px 0;
}
.introduccion hr {
    border: none;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 1px;
    width: 50%;
    text-align:center; margin: 0 auto;

}
.introduccion h1{
    margin: 0;
}
.introduccion h3{
    font-family: 'Raleway', sans-serif;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}*/

li {
    float: left;
}

nav ul li a {
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    display: block;/* se ajusta al alto*/
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #FDC434;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/************************************************* Fin CSS Header & Nav **********************************************************/






/************************************************* Start content **********************************************************/
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #FFFEFF;
}
article img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.container article {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33%;
    flex: 1 1 33%;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
}
.container article > header {
    color: #133477;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    margin-bottom: 10px;
}
.container article > header i{
    color: #FDAC19;
}
.container article > header div.right{
    font-size: 12px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin: 0px 5px;
}
.container article > header div.left{
    margin: 0px 5px;
}
.container article hr {
    border: none;
    color: #133477;
    background-color: #133477;
    height: 5px;
    margin: 5px;
}
.container > .left {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33%;
    flex: 0 1 33%;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
}
.container > .right {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 67%;
    flex: 0 1 67%;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
}
.container > .right > hr, .container > article > div > hr{
    border: none;
    color: #615DAB;
    background-color: #615DAB;
    height: 1px;

}
.container > .left > img{
    max-width: 100%; 
    max-height: 450px;   
}
.main {
    color: #133477;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
.sec {
    color: #616D86;
    margin: 0;
}
.container > article > div > img {
    max-width: 100%; 
    max-height: 450px;
}
.container > footer {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -ms-flex-item-align: auto;
    align-self: auto;  
    background-color: #EAEAEA;
    height: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    font-size: 10px;
}
.container > footer > div > img {
    height: 25px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
body > footer {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -ms-flex-item-align: auto;
    align-self: auto;  
    height: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    font-size: 10px;
    color: #fff;
    background-color: #232f3e;
    padding: 10px;
    position:absolute;
    bottom:0;
    width:100%;
}
body > footer > .right {
    color: #72E35D;
    font-size: 15px;
}
@media screen and (max-width: 768px) {
    .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.form-horizontal {
    background-color: #FFFEFF; 
}
.form-horizontal > div{
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #616D86;
}

button a{
    color: #fff;
    text-decoration: none;
}
.fakefooter {
    position: relative;
}

.logo {
    width: 100%;
}
#carousel {
    width: 70%; 
    margin: 0 auto;
}

.carTable{
    margin: 0 auto;
}
div.polaroid {
  width: 60%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin: 0 auto;
}
.containerCar:hover .polaroid .imageCar {
  opacity: 0.3;
}

.containerCar:hover .polaroid .middle {
  opacity: 1;
}
.imageCar {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.textBuy {
  background-color: #f8991d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.textBuy:hover{
    background-color: #000099; 
}
div.containerCar {
  margin: 0 auto;
  position: relative;
  width: 50%;
}
/************************************************* Side Nav **********************************************************/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f8991d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.carrito {
    background-color: none;
    color: white;
    border-collapse: collapse;
    width: 100%;
    border: 8px;
    
}
.imgCar {
    width: 50px;
    height: 40px;
    border-radius: 15%;
}

/*******************Cupones***********************/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
#myInput {
	display:none;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.imgFin{
    width: 30%;
    height: 30%;
    border-radius: 15%;
}
/************************************************* Media Querys**********************************************************/

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media screen and (max-width: 1250px) {
    body > header > div.center {
        flex-direction: column;
    }
    body > header > div.left {
        padding: 0;
    }
    body > header > div.right {
        padding: 0 3px 0;
    }
    #SearchBar {
        margin-top: 10px;
    }
    nav ul li a, .dropbtn {
        padding: 10px;
    }
}
@media screen and (max-width: 950px) {
    nav ul {
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    body > header > div.right {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
    }
    body > header > div.left {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;

    }
    body > header > div.center {
        flex-direction: column;
    }
    #SearchBar {
        margin-top: 3px;
    }
    nav ul li a, .dropbtn {
        padding: 4px;
    }
    #carousel {
    width: 100%; 
}
}
@media screen and (max-width: 650px) {
    nav ul {
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    body > header > div.center {
        /*        flex-direction: row;*/
    }
    nav ul li a, .dropbtn {
        padding: 0;
    }
    div.containerCar {
        
        position: relative;
        width: 80%;
      }
      div.polaroid {
        width: 80%;
        
      }
      .imgFin{
        width: 40%;
        height: 40%;
    }
}

@media screen and (max-width: 450px) {
    div.containerCar {
        
        position: relative;
        width: 100%;
      }
      div.polaroid {
        width: 100%;
        
      }
      .imgFin{
        width: 50%;
        height: 50%;
    }
}
